.resultHeader:nth-child(0) {
  text-align: left;
  padding: 0 15px;
}
.resultHeader:nth-child(1) {
  text-align: left;
  padding: 0 15px 0 0;
}
.resultHeader:nth-child(2) {
  text-align: left;
}
.resultCol1 {
  text-align: left;
  padding: 0 15px 0 0;
}
.resultCol2 {
  text-align: left;
  padding: 0 15px 0 0;
}
